In [1]:
import pandas as pd

In [2]:
class PandasData():
    def __init__(self,name_run) -> None:
        self.name_run = name_run
        self.df = pd.DataFrame(columns=['data','temperatura','umidade'])
    
    def add_line(self, data: str, temperatura: float, umidade: float):
        self.df.loc[len(self.df)] = [data, temperatura, umidade]
        if len(self.df)%100 == 0:
            self.save_data()

    def save_data(self):
        self.df.to_csv(f"{self.name_run}.csv",index=False)

In [3]:
base = PandasData(name_run='teste')

In [1]:
import pandas as pd

df =pd.read_csv("../flaskapp/teste.csv")
df

                       data temperatura umidade
0       2024-09-03 17:40:26        31.4    20.0
1       2024-09-03 17:40:26        31.4    20.0
2       2024-09-03 17:40:27        31.4    20.0
3       2024-09-03 17:40:27        31.4    20.0
4       2024-09-03 17:40:27        31.4    20.0
...                     ...         ...     ...
187895  2024-09-04 10:19:38        27.8    36.2
187896  2024-09-04 10:19:38        27.8    36.2
187897  2024-09-04 10:19:39        27.8    36.2
187898  2024-09-04 10:19:39        27.8    36.2
187899  2024-09-04 10:19:39        27.8    36.2

[187900 rows x 3 columns]